<ion-header>
  <ion-navbar>
    <ion-title>Login</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <ion-item>
    <h1>Login Page</h1>
  </ion-item>
  <ion-item>
    <ion-label floating>Email Address</ion-label>
    <ion-input type="text" [(ngModel)]="user.email"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label floating>Password</ion-label>
    <ion-input type="password" [(ngModel)]="user.password"></ion-input>
  </ion-item>
  <button ion-button full (click)="login(user)">Login</button>
  <button ion-button color="light" full (click)="register()">Register</button>
     <p class="OR">OR</p>
  <ion-content padding>

    <button ion-button block color="danger" (click)="loginUser()" *ngIf="!userProfile">
      <ion-icon name="logo-googleplus"></ion-icon>
      Login with Google
    </button>

    <ion-item *ngIf="userProfile">
      <ion-avatar item-left>
        <img [src]="userProfile.photoURL">
      </ion-avatar>
      <h2>{{ userProfile.displayName }}</h2>
      <h3>{{ userProfile.email }}</h3>
    </ion-item>
  </ion-content>

  <button ion-button full (click)="login()">Log in</button>
  <button ion-button full (click)="itemSelected()">Simulate Log-In</button>

</ion-content>

